<a href="https://colab.research.google.com/github/gghatano/BKB/blob/master/%E6%B0%97%E3%81%AE%E5%88%A9%E3%81%84%E3%81%9F%E6%93%AC%E4%BC%BC%E3%83%87%E3%83%BC%E3%82%BF%E3%82%92%E7%94%9F%E6%88%90%E3%81%99%E3%82%8B%EF%BC%9ASDV%E3%81%AE%E3%83%81%E3%83%A5%E3%83%BC%E3%83%88%E3%83%AA%E3%82%A2%E3%83%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# "気の利いた" 擬似データを作成したい

## 実データの取得は大変
- データ分析やシステム開発のために、実データが必要になることは多々あります。
- ただ、実データは限られた環境でしか扱えない/利用に際して多くの稟議を通さなくちゃいけない/etc...など、データ取得までは時間と両力がかかります。(注意して使わないといけないものなので、当然です)
- 解決策として、データの見た目や統計量などの「保存して欲しい性質」を残しつつ、実データとは一定以上異なる「高度な擬似データ」を利用できる場合があります。

## 擬似データ生成手法と課題
- 擬似データ生成を行う仕組みはいくつか提案されています。見た目や統計的な性質を保存しつつ、元データとは(適当な基準により)異なる、と言えるようなデータを、機械的に生成することができる手法が多いです。
  - (いくつか既存手法を書いておく)
- ただ、得られた擬似データに、元データのルールを上手に反映するのは、難しいです。
  - 例えば、「年齢」「職歴」という列があったら、「5歳」「アルバイト」みたいな状態はありえない...というのが一般的かなと思います。
  - こういうあり得ないデータを、あまり生成したくありません。

## 今回やること：SDVを使って、制約を反映した擬似データを生成する
- 常識や業務的なルールを反映しやすそうな仕組みを持つ、擬似データ生成ライブラリ[SDV](https://github.com/sdv-dev/SDV)について、理解を深めてみます。
  - [チュートリアル](https://sdv.dev/SDV/user_guides/single_table/handling_constraints.html)を参考に、実際に動かしてみます。

# SDV-チュートリアルの内容確認

:
## SDVのインストール
- pipから導入できます

In [ ]:
! pip install sdv
from sdv.demo import load_tabular_demo
import pandas as pd

Requirement already satisfied: sdv in /usr/local/lib/python3.7/dist-packages (0.13.0)
Requirement already satisfied: graphviz<1,>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.19)
Requirement already satisfied: deepecho<0.4,>=0.3.0.post1 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.3.0.post1)
Requirement already satisfied: Faker<10,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (9.9.1)
Requirement already satisfied: sdmetrics<0.5,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.4.1)
Requirement already satisfied: ctgan<0.6,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.5.0)
Requirement already satisfied: tqdm<5,>=4.15 in /usr/local/lib/python3.7/dist-packages (from sdv) (4.62.3)
Requirement already satisfied: copulas<0.7,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.6.0)
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.21.4)
Requirement already satisfied: rdt<0.7,>=0.6.1 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.6.1)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.1.4)
Requirement already satisfied: scipy<2,>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from copulas<0.7,>=0.6.0->sdv) (1.7.3)
Requirement already satisfied: matplotlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from copulas<0.7,>=0.6.0->sdv) (3.2.2)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.0->sdv) (1.10.0+cu111)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.0->sdv) (1.0.1)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.0->sdv) (21.3)
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.0->sdv) (0.11.1+cu111)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (2.8.2)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (1.3)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (3.10.0.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.2.0->copulas<0.7,>=0.6.0->sdv) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.2.0->copulas<0.7,>=0.6.0->sdv) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.2.0->copulas<0.7,>=0.6.0->sdv) (1.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->sdv) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker<10,>=3.0.0->sdv) (1.15.0)
Requirement already satisfied: psutil<6,>=5.7 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.1->sdv) (5.8.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.0->sdv) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.0->sdv) (3.0.0)
Requirement already satisfied: pyts<0.13.0,>=0.12.0 in /usr/local/lib/python3.7/dist-packages (from sdmetrics<0.5,>=0.4.0->sdv) (0.12.0)
Requirement already satisfied: numba>=0.48.0 in /usr/local/lib/python3.7/dist-packages (from pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.0->sdv) (0.51.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.48.0->pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.0->sdv) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.48.0->pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.0->sdv) (57.4.0)
Requirement already satisfied: pillow!=8.3.0,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.0->sdv) (7.1.2)

## 扱うデータ・ルールの確認
- SDVに含まれている、従業員データセットを確認してみます。
  - 仮想の複数社に所属する従業員の方の、所属や給料、雇用形態などが含まれるダミーデータです。

In [ ]:
employees = load_tabular_demo()
print(employees.columns)
employees.head()

Index(['company', 'department', 'employee_id', 'age', 'age_when_joined',
       'years_in_the_company', 'salary', 'annual_bonus',
       'prior_years_experience', 'full_time', 'part_time', 'contractor'],
      dtype='object')

    company     department  employee_id  ...  full_time  part_time  contractor
0      Pear          Sales            1  ...        1.0        0.0         0.0
1      Pear         Design            5  ...        0.0        0.0         1.0
2   Glasses             AI            1  ...        1.0        0.0         0.0
3   Glasses  Search Engine            7  ...        0.0        0.0         1.0
4  Cheerper        BigData            6  ...        0.0        1.0         0.0

[5 rows x 12 columns]

## データのルールの確認
よく観察してデータの意味を考えると、いくつか制約が思いつきます。例えば...
- 一意性制約
  - company(会社)ごとに一意なemployee_id(社員ID)が振られるはずなので、「(company, employee_id)は一意」
- 不等式で表現できる制約 (定数との比較や他列との比較)
  - salary(月給？)の値を考えると、「$\text{salary} \geq 0$」
  - age(今の年齢)とage_when_joined(入社した時の年齢)の関係を考えると、「$\text{age} \geq \text{age_when_joined}$」
  - age年齢なので、従業員っぽい年齢(一旦16歳から80歳までとします)なはずなので、「$16\leq\text{age}\leq 80$」
- 等式で表現できる制約
  - 「$\text{age} - \text{age_when-joined} = \text{years_in_the_company}$」
- 値のデータ型に関する制約
  - salary列の表現を参考に、「$\text{salary}$は小数第2位で表す」
  - $\text{full_time}$, $\text{part_time}$, $\text{contractor}$は、どれかが1で他が0になっている(3種類の値が含まれる契約形態列をone-hot-encodingしたもの、という背景があるみたいです)：「$\text{full_time} + \text{part_time} + \text{contractor} = 1$,  $\text{full_time}, \text{part_time}, \text{contractor} \in \{0,1\}$」

などがあり、それぞれを反映した擬似データを作る...ための仕組みが用意されています。

(前処理や後処理で対応する方が良さそうなもの...もありますが、管理の手間の観点で、データのルールを全部擬似データ生成時に反映する、という戦略もアリな気がしています)

## Reject samplingについて
制約を反映する方法には2通りあって、
- 上手い変換を考える
  - $\text{age} \geq \text{age_when-joined}$ について、$\text{diff} = \text{age} - \text{age_when-joined}$の値だけ保存しておく
  - $\text{age_when-joined}$を生成して、$\text{diff}$を足してできる列を$\text{age}$とする 
- 制約を満たさないレコードを棄却して、生成し直す

## 制約の反映

### 一意性制約
- sdv.constraints.Uniqueを使います
  - 一意になる列の組を入力します

In [ ]:
from sdv.constraints import Unique
unique_employee_id_company_constraint = Unique(
    columns = ['company', 'employee_id']
)

## データの生成
- データ生成の手法には幾つかあり、大まかには「コピュラベースの手法」「深層学習ベースの手法」が用意されています。同じように使えるので、両方を触ってみます。

In [ ]:
## 制約の反映
from sdv.tabular import GaussianCopula
from sdv.tabular import CTGAN
constraints = [
               unique_employee_id_company_constraint
]
gc = GaussianCopula(constraints=constraints)
ct = CTGAN(constraints=constraints)

In [ ]:
## 学習・データ生成
gc.fit(employees)
ct.fit(employees)
sampled_gc = gc.sample(100)
sampled_ct = gc.sample(100)

/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:639: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/usr/local/lib/python3.7/dist-packages/scipy/optimize/minpack.py:175: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:5320: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_distn_infrastructure.py:2606: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/usr/local/lib/python3.7/dist-packages/copulas/univariate/truncated_gaussian.py:43: RuntimeWarning: invalid value encountered in double_scalars
  a = (self.min - loc) / scale
/usr/local/lib/python3.7/dist-packages/copulas/univariate/truncated_gaussian.py:44: RuntimeWarning: divide by zero encountered in double_scalars
  b = (self.max - loc) / scale
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)

In [ ]:
## 内容確認
sampled_gc.head()

    company     department  employee_id  ...  full_time  part_time  contractor
0  Cheerper        BigData           27  ...        0.0        1.0         0.0
1  Cheerper             AI            9  ...        1.0        0.0         0.0
2   Glasses  Search Engine            1  ...        0.0        1.0         0.0
3      Pear         Design           21  ...        0.0        0.0         1.0
4   Glasses             AI           38  ...        1.0        0.0         0.0

[5 rows x 12 columns]

In [ ]:
sampled_ct.head()

   company department  employee_id  ...  full_time  part_time  contractor
0     Pear      Sales            1  ...        1.0        0.0         0.0
1  Glasses         AI           57  ...        0.0        0.0         1.0
2  Glasses         AI            1  ...        1.0        0.0         0.0
3  Glasses    Support           18  ...        0.0        0.0         0.0
4  Glasses         AI           29  ...        1.0        0.0         1.0

[5 rows x 12 columns]